<h2>会員一覧</h2>
<%= render "public/searches/form" %>
<% @customers.each do |customer| %>
  <%= image_tag customer.get_profile_image(100,100) %>
  <%= customer.name %>
  <%= customer.introduction %>
  <%= link_to "詳細へ", customer_path(customer.id) %>
<% end %>