<div class="container">
  <div class="row">
    <div class="col-sm-3 offset-sm-1">
      <div class="row">
        <%= image_tag @customer.get_profile_image(800,800), class: "w-100 h-100" %>

        <table class="table table-bordered">
          <tr>
            <th>名前</th>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <th>自己紹介</th>
            <td><%= @customer.introduction %></td>
          </tr>
        </table>
      </div>
      <div class="row">
          <% if @customer == current_customer %>
            <div class="col-sm-5 offset-sm-1">
              <%= link_to "編集", edit_customer_path(@customer.id), class: "btn btn-info" %>
            </div>
            <div class="col-sm-6">
              <%= link_to "お気に入り",favorite_customer_path(@customer), class: "btn btn-info" %>
            </div>
          <% else %>
            <div class="col-sm-5 offset-sm-1">
              <%= link_to "DM", chat_path(@customer.id), class: "btn btn-info" %>
            </div>
            <div class="col-sm-6">
              <%= link_to "マイページ", customer_path(current_customer.id), class: "btn btn-info" %>
            </div>
          <% end %>
      </div>
    </div>

    <div class="col-sm-6 offset-sm-2">
      <h3>投稿</h3>
      <p class="font-weight-bold mb-sm-1">投稿 <%= @customer.posts.count %>件</p>
      <div class="row">
        <% @customer.posts.each do |customer_post| %>
          <div class="col-sm-3 my-sm-2">
            <%= image_tag customer_post.get_image(100,100) %>
          </div>
          <div class="col-sm-2 font-weight-bold my-sm-2 px-sm-0 d-sm-flex align-items-center">
            <%= customer_post.name %>
          </div>
          <div class="col-sm-4 offset-sm-3 d-sm-flex my-sm-2 align-items-center">
            <%= link_to "詳細へ", post_path(customer_post.id), class: "btn btn-info" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
