<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <%= image_tag "https://dummyimage.com/190x150/000/fff" %>
            <ul class="list-group w-75 mt-sm-3 text-center">
                <li class="list-group-item"><%= link_to "マイページ", customer_path(current_customer.id) %></li>
                <li class="list-group-item"><%= link_to "お気に入り", favorite_customer_path(current_customer.id) %></li>
            </ul>
            <div class="mt-5 w-75">
                <h4 class="border-bottom py-2 mb-3">タグ一覧</h4>
                <% @tags.each do |tag| %>
                    <ul class="pl-3">
                        <li><%= link_to tag.name, tag_posts_path(tag.id) %></li>
                    </ul>
                <% end %>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <%= image_tag "https://dummyimage.com/570x400/000/fff" %>
            </div>
            <h4 class="my-sm-3">新着投稿</h4>
            <div class="row">
                <% @posts.each do |post| %>
                    <div class="col-sm-4">
                        <table class="table table-bordered">
                            <tr>
                                <td class="text-center"><%= image_tag post.get_image(100,100) %></td>
                            </tr>
                            <tr>
                                <td><%= post.status_i18n %></td>
                            </tr>
                            <tr>
                                <td><%= post.name %></td>
                            </tr>
                            <tr>
                                <td><%= link_to "詳しく見る", post_path(post.id) %></td>
                            </tr>
                        </table>
                    </div>
                <% end %>
            </div>
        </div>
        <!--ジャンルのサイドバー-->
        <%= render "public/genres/genre", genres: @genres %>
    </div>
</div>
<!--ページネーション-->
<div class="d-sm-flex justify-content-sm-center">
    <%= paginate @posts %>
</div>

