<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="post-side-image">
            </div>
            <ul class="list-group w-75 mt-sm-3 text-center">
                <li class="list-group-item"><%= link_to "マイページ", customer_path(current_customer.id) %></li>
                <li class="list-group-item"><%= link_to "お気に入り", favorite_customer_path(current_customer.id) %></li>
            </ul>
            <div class="mt-5 w-75">
                <h4 class="py-sm-2 mb-sm-3 tag_head px-sm-2">タグ</h4>
                <% @tags.each do |tag| %>
                    <ul class="list-group text-center">
                        <li class="list-group-item">
                            <%= link_to tag_posts_path(tag.id) do %>
                                <%= tag.name %>
                                <%= tag.posts.count %>
                            <% end %>
                        </li>
                    </ul>
                <% end %>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="post-image">
                    <h2 class="text-center text-white post-header">Connect Heart</h2>
                    <p class="text-center text-white">人間と動物の心を繋ぐサイト</p>
                </div>
            </div>
            <h4 class="my-sm-3">新着投稿</h4>
            <div class="row">
                <% @posts.each do |post| %>
                    <div class="col-sm-4">
                        <table class="table table-bordered">
                            <tr>
                                <td class="text-center"><%= image_tag post.get_image(130,130) %></td>
                            </tr>
                            <tr>
                                <td><%= post.status_i18n %></td>
                            </tr>
                            <tr>
                                <td><%= post.name %></td>
                            </tr>
                            <tr>
                                <td><%= link_to "詳しく見る", post_path(post.id) %></td>
                            </tr>
                        </table>
                    </div>
                <% end %>
            </div>
        </div>
        <!--ジャンルのサイドバー-->
        <%= render "public/genres/genre", genres: @genres %>
    </div>
</div>
<!--ページネーション-->
<div class="d-sm-flex justify-content-sm-center">
    <%= paginate @posts %>
</div>

