<h2>投稿一覧</h2>

<% @posts.each do |post| %>
    <div>
        <%= image_tag post.get_image(100,100) %>
        <%= post.status_i18n %>
        <%= post.name %>
        <%= link_to "詳しくみる", post_path(post.id) %>
    </div>
<% end %>

<div>
    <%= paginate @posts %>
</div>
