<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 card">
      <div class="card-body">
       <h2 class="my-sm-3 text-secondary">新規投稿</h2>
       <%= form_with model: @post, url: posts_path, method: :post do |f| %>

         <div class="row form-group">
           <div class="col-sm-3 offset-sm-1">
             <%= f.label :image, "画像" %>
           </div>
           <div class="col-sm-7">
             <%= f.file_field :image, accept: "image/*" %>
           </div>
         </div>

         <div class="row form-group">
           <div class="col-sm-3 offset-sm-1">
             <%= f.label :name, "動物名", class: "col-form-label" %>
           </div>
           <div class="col-sm-7">
             <%= f.text_field :name, class: "form-control" %>
           </div>
         </div>

         <div class="row form-group">
           <div class="col-sm-3 offset-sm-1">
             <%= f.label :sex, "性別" %>
           </div>
           <div class="col-sm-7">
             <%= f.radio_button :sex, :オス %>
             <%= f.label :sex_male, "オス" %>
             <%= f.radio_button :sex, :メス %>
             <%= f.label :sex_female, "メス" %>
           </div>
         </div>

         <div class="row form-group">
           <div class="col-sm-3 offset-sm-1">
             <%= f.label :age, "年齢" , class: "col-form-label"%>
           </div>
           <div class="col-sm-7">
             <%= f.text_field :age, class: "form-control", placeholder: "1" %>
           </div>
         </div>

         <div class="row form-group">
           <div class="col-sm-3 offset-sm-1">
             <%= f.label :genre_id, "ジャンル" %>
           </div>
           <div class="col-sm-7">
             <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
           </div>
         </div>

         <div class="row form-group">
           <div class="col-sm-3 offset-sm-1">
             <%= f.label :status, "状況" %>
           </div>
           <div class="col-sm-7">
             <%= f.select :status, Post.statuses.keys.map { |k| [t("enums.post.status.#{k}"), k] }, { include_blank: "指定なし" } %>
           </div>
         </div>

         <div class="row form-group">
           <div class="col-sm-3 offset-sm-1">
            <%= f.label :character, "性格", class: "col-form-label" %>
           </div>
           <div class="col-sm-7">
            <%= f.text_area :character, class: "form-control" %>
           </div>
         </div>

         <div class="row form-group">
           <div class="col-sm-3 offset-sm-1">
             <%= f.label :body, "本文", class: "col-form-label" %>
           </div>
           <div class="col-sm-7">
             <%= f.text_area :body, class: "form-control" %>
           </div>
         </div>

         <div class="row">
           <div class="col-sm-3 offset-sm-5">
             <%= f.submit "投稿する", class: "btn btn-info" %>
           </div>
         </div>

       <% end %>
      </div>
    </div>
  </div>
</div>


