<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 card">
      <div class="card-body">
       <h2>新規投稿</h2>
       <%= form_with model: @post, url: posts_path, method: :post do |f| %>

         <div class="row">
           <div class="col-sm-3">
             <%= f.label :image, "画像" %>
           </div>
           <div class="col-sm-7">
             <%= f.file_field :image %>
           </div>
         </div>

         <div class="row">
           <div class="col-sm-3">
             <%= f.label :name, "動物名" %>
           </div>
           <div class="col-sm7">
             <%= f.text_field :name %>
           </div>
         </div>

         <div class="row">
           <div class="col-sm-3">
             <%= f.label :sex, "性別" %>
           </div>
           <div class="col-sm-7">
             <%= f.radio_button :sex, :オス %>
             <%= f.label :sex_male, "オス" %>
             <%= f.radio_button :sex, :メス %>
             <%= f.label :sex_female, "メス" %>
           </div>
         </div>

         <div class="row">
           <div class="col-sm-3">
             <%= f.label :age, "年齢" %>
           </div>
           <div class="col-sm-7">
             <%= f.text_field :age %> 才
           </div>
         </div>

         <div class="row">
           <div class="col-sm-3">
             <%= f.label :genre_id, "ジャンル" %>
           </div>
           <div class="col-sm-7">
             <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
           </div>
         </div>

         <div class="row">
           <div class="col-sm-3">
             <%= f.label :status, "状況" %>
           </div>
           <div class="col-sm-9">
             <%= f.radio_button :status, :recruiting %>
             <%= f.label :status_recruiting, "里親募集中" %>

             <%= f.radio_button :status, :trial %>
             <%= f.label :status_trial, "トライアル中" %>

             <%= f.radio_button :status, :decision %>
             <%= label :status_decision, "里親様決定"%>

             <%= f.radio_button :status, :lost_child %>
             <%= f.label :status_lost_child, "迷子動物捜索中"%>
           </div>
         </div>

         <div class="row">
           <div class="col-sm-3">
            <%= f.label :character, "性格" %>
           </div>
           <div class="col-sm-7">
            <%= f.text_area :character %>
           </div>
         </div>

         <div class="row">
           <div class="col-sm-3">
             <%= f.label :body, "本文" %>
           </div>
           <div class="col-sm-7">
             <%= f.text_area :body %>
           </div>
         </div>

         <div class="row">
           <div class="col-sm-3 offset-sm-5">
             <%= f.submit "投稿する", class: "btn btn-info" %>
           </div>
         </div>

       <% end %>
      </div>
    </div>
  </div>
</div>


