<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <h2 class="heading heading2 w-100 pb-sm-3 mb-sm-5"><%= @post.customer.name %>の投稿</h2>
            </div>

            <div class="row">
                <div class="col-sm-6 pl-sm-0">
                    <%= image_tag @post.get_image(270,270), class: "w-100 h-100" %>
                </div>
                <div class="col-sm-6 pl-sm-5">
                    <dl>
                        <div class="row pt-sm-5">
                            <dt class="col-sm-3">状況</dt>
                            <dd class="col-sm-9"><%= @post.status_i18n %></dd>
                        </div>
                        <div class="row">
                            <dt class="col-sm-3">名前</dt>
                            <dd class="col-sm-9"><%= @post.name %></dd>
                        </div>
                        <div class="row">
                            <dt class="col-sm-3">性別</dt>
                            <dd class="col-sm-9"><%= @post.sex %></dd>
                        </div>
                        <div class="row">
                            <dt class="col-sm-3">年齢</dt>
                            <dd class="col-sm-9"><%= @post.age %> 才</dd>
                        </div>
                        <div class="row mt-sm-2">
                            <% if @post.customer == current_customer %>
                                <div class="col-sm-5">
                                    <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-info"  %>
                                </div>
                                <div class="col-sm-7">
                                    <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-info"  %>
                                </div>
                            <% else %>
                                <!--ある投稿のfavoritesテーブルにcurrent_customerのidが含まれているかの真偽。含まれているtrue,含まれていないfalse-->
                                <% if @post.favorited_by?(current_customer) %>
                                    <%= link_to post_favorite_path(@post.id), method: :delete do %>
                                        <div class="col-sm-12">♥<%= @post.favorites.count %> いいね</div>
                                    <% end %>
                                <% else %>
                                    <%= link_to post_favorite_path(@post.id), method: :post do %>
                                        <div class="col-sm-12">♡<%= @post.favorites.count %> いいね</div>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="row mt-sm-5 pt-sm-3">
                <h3 class="heading heading2 w-100 pb-sm-3 mb-sm-3">性格</h3>
            </div>
            <div class="row mt-sm-2">
                <!--split("\n"):改行, tag(:br):段落-->
                <p><%=safe_join(@post.character.split("\n"),tag(:br))%></p>
            </div>

            <div class="row mt-sm-5">
                 <h3 class="heading heading2 w-100 pb-sm-3 mb-sm-3">本文</h3>
            </div>
            <div class="row mt-sm-2">
                <p><%=safe_join(@post.body.split("\n"),tag(:br))%></p>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-1">
            <!--ある投稿のコメントを全てを1つずつ取り出して表示-->
            <h2 class="mb-sm-1 pb-sm-3 mb-sm-3 pt-sm-3 font-weight-normal">コメント <%= @post.post_comments.count %>件</h2>
            <div class="row">
                <% @post.post_comments.each do |post_comment| %>
                   <div class="col-sm-1">
                       <%= image_tag post_comment.customer.get_profile_image(50,50), class: "rounded-circle" %>
                   </div>
                   <div class="col-sm-10 offset-sm-1 py-sm-3 pl-sm-0">
                       <span class="font-weight-bold ml-sm-2"><%= post_comment.customer.name %></span>
                       <span class="px-sm-1"><%= post_comment.comment %></span>
                       <span class="text-secondary"><%= post_comment.created_at.strftime('%-m月%-d日') %></span>
                       <% if post_comment.customer == current_customer %>
                           <%= link_to "削除", post_post_comment_path(post_comment.post_id, post_comment.id), method: :delete, class: "text-danger" %>
                       <% end %>
                   </div>
                <% end %>
            </div>

            <%= form_with model: [@post, @post_comment], url: post_post_comments_path(@post.id), method: :post do |f| %>
                <div class="row">
                    <div class="col-sm-11 form_label">
                        <%= f.text_area :comment, class: "form-control", style: "width:100%", rows: "1", placeholder: "コメントをここに" %>
                    </div>
                    <div class="col-sm-1 pl-sm-0">
                        <%= f.submit "送信", class: "btn btn-link px-sm-0" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>

    <div class="row border border-2 pt-sm-3 mt-sm-5 mb-sm-4 d-sm-flex justify-content-sm-center">
        <p class="font-weight-bold">
            お問い合わせは
            <%= link_to "こちら", customer_path(@post.customer.id) %>
            から、チャットにてご連絡をお願いします。
            コメントやチャットには、思いやりの心を大切に、楽しく利用しましょう。
        </p>
    </div>

</div>


