<h2>詳細ページ</h2>
<div>
    <%= image_tag @post.get_image(100,100) %>
    <%= @post.status_i18n %>
    <%= @post.name %>
    <%= @post.sex %>
    <%= @post.age %>才
    <%= @post.character %>
    <%= @post.body %>
</div>
<div>
    <% if @post.customer == current_customer %>
        <%= link_to "編集する", edit_post_path(@post.id) %>
        <%= link_to "削除する", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% else %>
        <!--ある投稿のfavoritesテーブルにcurrent_customerのidが含まれているかの真偽。含まれているtrue,含まれていないfalse-->
        <% if @post.favorited_by?(current_customer) %>
            <%= link_to post_favorite_path(@post.id), method: :delete do %>
                ♥<%= @post.favorites.count %> いいね
            <% end %>
        <% else %>
            <%= link_to post_favorite_path(@post.id), method: :post do %>
                ♡<%= @post.favorites.count %> いいね
            <% end %>
        <% end %>
    <% end %>
    <%= link_to "ユーザー詳細へ", customer_path(@post.customer.id) %>
</div>
<div>
    <p>
        お問い合わせはユーザー詳細へをクリック。チャットよりご連絡ください。
    </p>
</div>

<!--コメント-->
<h3>コメント</h3>
<%= form_with model: [@post, @post_comment], url: post_post_comments_path(@post.id), method: :post do |f| %>
    <%= f.text_area :comment, placeholder: "コメントをここに" %>
    <%= f.submit "送信" %>
<% end %>

<!--ある投稿のコメントを全てを1つずつ取り出して表示-->
<p>総コメント数<%= @post.post_comments.count %> 件</p>
<% @post.post_comments.each do |post_comment| %>
   <p><%= image_tag post_comment.customer.get_profile_image(100,100) %></p>
   <%= post_comment.customer.name %>
   <%= post_comment.comment %>
   <%= post_comment.created_at.strftime('%Y年%m月%d日') %>
   <% if post_comment.customer == current_customer %>
       <%= link_to "コメントを削除する", post_post_comment_path(post_comment.post_id, post_comment.id), method: :delete %>
   <% end %>
<% end %>