<h2>ジャンル登録</h2>
<%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
  <table>
    <tr>
      <th><%= f.label :name, "ジャンル名" %></th>
      <td><%= f.text_field :name %></td>
      <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
    </tr>
  </table>
<% end %>


<h2>ジャンル一覧</h2>
<table>
  <thead>
    <tr>
      <th>ジャンル名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.name %></td>
        <td>
          <%= link_to "編集する", edit_admin_genre_path(genre.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>