<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>ConnectHeart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5a814071a3.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
   <header class="mb-sm-5">
     <nav class="navbar navbar-expand-md navbar-light bg-light">
       <%= link_to "Connect Heart", root_path %>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto py-sm-3">
          <!--管理者がログインしているとき-->
          <% if admin_signed_in? %>

            <li class="nav-item">
              <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to "コメント管理", admin_post_comments_path, class: "nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
            </li>

          <!--ユーザーがログインしているとき-->
          <% elsif customer_signed_in? %>

            <li class="nav-item">
              <%= link_to "新規投稿", new_post_path, class: "nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to "会員一覧", customers_path, class: "nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to "投稿一覧", posts_path, class: "nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %>
            </li>

          <!--管理者もユーザーもログインしていないとき-->
          <% else %>

            <li class="nav-item">
              <%= link_to "HOME", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "About", about_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ゲストログイン", customers_guest_sign_in_path, method: :post, class: "nav-link" %>
            </li>

          <% end %>
        </ul>
        <%= render "public/searches/form" %>
       </div>

     </nav>
   </header>

    <main class="flex-shrink-0 mb-sm-3">
      <!--フラッシュメッセージを表示-->
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>

    <footer class="mt-auto bg-light py-sm-4">
      <div class="container">
        <div class="row">
          <p class="col-sm-3 offset-sm-5 mb-sm-0"><small>&copy; CopyRight Infratop.inc</small></p>
        </div>
      </div>
    </footer>
  </body>
</html>
